[project]
	description = ** ARCHIVED **\nA fork from the asn1c project by Lev Walkin (http://lionet.info/asn1c = https://github.com/vlm/asn1c) and adds aligned PER encoding support.
	state = read only
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	read = deny group GitHub Replication
[plugin "its-jira"]
	enabled = true
